*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	font-family: 'Open Sans',sans-serif;
}
header{
	width: 100%;
	background: #0303D9;
	display: flex;
}
.header__logo{
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
	cursor:pointer;
	margin-top: 56px;
	margin-left: 14%;
}
nav{
	margin-top: 56px;
	margin-left: 29%;
}
.topnav a{
	color: #fff;
	text-align: center;
	padding: 7px 15px;
	font-size: 14px;
	font-weight: bold;
}
.topnav a.hover{
	border-bottom: 3px solid #fcac45;
}
.topnav .icon{
	display: none;
}
main{
		display: flex;
		flex-direction: column;
		width: 100%;
	}
	main .main__welcome{
		background: #000;
		text-align: center;
		padding: 200px 0 410px 0;
	}
	main .main__welcome p{
		color: #999999;
		font-size: 20px;

	}
	main .main__welcome h1{
		color: #999999;
		font-size: 44px;
		}
	.myteam{
		color:#fcac45;
	}











@media screen and (max-width: 1200px){
	nav{
		margin-left: 20%;
	}
}
@media screen and (max-width: 1200px){
	nav{
		margin-left: 20%;
	}
}
@media screen and (max-width: 1010px){
	.topnav a{
		display: none;
	}
	.topnav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color:#fff;
		font-size: 25px;
	}
